\* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f4f8;
    color: #333;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin: 2.5rem;
    color: #222;
}

.quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    width: 60%;
    margin: auto;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#question {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.ans-btn {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.btn {
    padding: 12px;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.btn:hover:not([disabled]) {
    background-color: #0056b3;
}

.btn:disabled {
    cursor: no-drop;
}

#next-btn {
    align-self: flex-end;
    margin-top: 0.5rem;
    padding: 6px 12px;
    background-color: #28a745;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8rem;
    transition: background-color 0.3s;
}

#next-btn:hover {
    background-color: #218838;
}

.correct {
    background: #9aeabc;
}

.incorrect {
    background: #ff9393;
}